// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .task-container {
    width: 90%;
    .task-list {
      padding: 1rem;
      &-item {
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
  .input-container {
    &__input {
      width: 75%;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .task-container {
    width: 90%;
    .task-list {
      &-item {
        gap: 1rem;
      }
    }
  }
  .input-container {
    &__input {
      width: 85%;
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .task-container {
    width: 90%;
    .task-list {
      padding: 1rem;
      &-item {
        gap: 1rem;
      }
    }
  }
  .input-container {
    &__input {
      width: 90%;
    }
  }
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1441.98px) {
  .task-container {
    width: 90%;
    .task-list {
      padding: 1rem;
      &-item {
        gap: 1rem;
      }
    }
  }
  .input-container {
    width: 88%;
  }
}
