@import "variables";
@import "components/taskInput/taskInput";
@import "components/taskListing/taskListing";

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include center;
  height: 100vh;
  width: 100vw;
  font-size: 1rem;
  line-height: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: $bgColor;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.main-container {
  @include center;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
}
